<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <h2>Hotel Information</h2>
    <form action = "/savedetails" method="post">
    <table>
        <tr><td>hotel_name</td><td><input type="text" name="hotel_name"></td></tr>
        <tr><td>description</td><td><input type="text" name="description"></td></tr>
         <tr><td>image1</td><td><input type="text" name="image1"></td></tr>
        <tr><td>image2</td><td><input type="text" name="image2"></td></tr>
         <tr><td>image3</td><td><input type="text" name="image3"></td></tr>
        <tr><td>price</td><td><input type="number" name="price"></td></tr>
        <tr><td>stars</td><td><input type="number" name="stars"></td></tr>




        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>

</body>
</html>
